@use './mixins' as *;

h1 {
  font-weight: 600;
  font-size: val(22, 24);
  line-height: 140%;
}
h1.title-banner {
  font-size: val(28, 36);
}
h2 {
  font-weight: 600;
  font-size: val(20, 22);
  line-height: 140%;
}
h3 {
  font-weight: 600;
  font-size: val(16, 18);
  line-height: 140%;
}
.p1 {
  font-weight: 400;
  font-size: val(16, 18);
  line-height: 140%;
}
.p1-mudium {
  font-weight: 500;
  font-size: val(16, 18);
  line-height: 140%;
}
.p2-mudium {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}
.p3-mudium {
  font-weight: 500;
  font-size: val(12, 14);
  line-height: 140%;
}
.marker {
  font-weight: 600;
  font-size: val(12, 14);
  line-height: 130%;
}
