$color-black: #212121;
$color-neutral-800: #292929;
$color-neutral-700: #353535;
$color-neutral-600: #3e3e3e;
$color-neutral-500: #606060;
$color-neutral-400: #828282;
$color-neutral-300: #c7c7c7;
$color-neutral-200: #e7e7e7;
$color-neutral-100: #f8f8f8;

$color-green: #69bd40;
$color-pink: #f37eb2;
$color-blue: #04bacb;
$color-red: #fd5848;

$sm: 740px;
